apiVersion: v1
kind: Namespace
metadata:
  name: ${NAMESPACE}
  labels:
    gpu-backed-actors-demo: "true"
---
apiVersion: ate.dev/v1alpha1
kind: WorkerPool
metadata:
  name: ${WORKERPOOL}
  namespace: ${NAMESPACE}
  labels:
    workload: gpu-context-release
spec:
  replicas: 1
  sandboxClass: gvisor
  ateomImage: ${ATEOM_GPU_IMAGE}
  template:
    nodeSelector:
      cloud.google.com/gke-accelerator: ${GPU_ACCELERATOR}
    tolerations:
    - key: nvidia.com/gpu
      operator: Exists
      effect: NoSchedule
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
        nvidia.com/gpu: "1"
      limits:
        cpu: "2"
        memory: 4Gi
        nvidia.com/gpu: "1"
